<h1 id = "about-title">Meet the Team</h1>


 <div id = "execteam">

<!--  	for when i i feel like doing it properly
< link_to some_route_path do
    image_tag("find.png", onmouseover: "this.src='#{asset_path('find_sel.png')}'", onmouseout: "this.src='#{asset_path('find.png')}'")
end %> -->

	<div class = "row">
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
	</div>
	<div class = "row">
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
	</div>
	<div class = "row">
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
	</div>
	<div class = "row">
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
	</div>
	<div class = "row">
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
		<%= image_tag("http://i.imgur.com/x4nYkym.jpg", onmouseover: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'" , onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", :class => "team-photo") %>
	</div>
 </div>

<br>

<h1 id = "about-chairs"> And the Committee Chairs! </h1> 
<!-- 
Lt Gov: Maaz
Service Chair: Maria
LSSP Chair: Rhea
Kiwanis Relations: Suraj
Fundraising: Sangho
PR: Aditya
Social: Nikita
Active Membership: Katrina
Historian: Nadya
Editor: Jill

 -->
<!-- <div id = "comm-chairs">

	< image_tag("http://i.imgur.com/x4nYkym.jpg", size: "178x200" , onmouseover: "this.src='http://i.imgur.com/F3nq3Xq.jpg'", onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'", onclick: "this.src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Orange-Whole-%26-Split.jpg'") %>

	< image_tag("http://i.imgur.com/x4nYkym.jpg", size: "178x200" , onmouseover: "this.src='http://i.imgur.com/F3nq3Xq.jpg'", onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'") %>

	< image_tag("http://i.imgur.com/x4nYkym.jpg", size: "178x200" , onmouseover: "this.src='http://i.imgur.com/F3nq3Xq.jpg'", onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'") %>

	< image_tag("http://i.imgur.com/x4nYkym.jpg", size: "178x200" , onmouseover: "this.src='http://i.imgur.com/F3nq3Xq.jpg'", onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'") %>

	< image_tag("http://i.imgur.com/x4nYkym.jpg", size: "178x200" , onmouseover: "this.src='http://i.imgur.com/F3nq3Xq.jpg'", onmouseout: "this.src='http://i.imgur.com/x4nYkym.jpg'") %>

</div> -->