<!DOCTYPE html>
<html>
<head>
  <title>UMDCKI</title>
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>


<!-- 
May need to reinstate if i do end up putting things that require error messages on multi pages

<div class = "container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div> -->

<%= render 'layouts/header' %>

<%= render 'layouts/navbar' %>
<!-- <div class = "container-fluid"> -->

	<%= yield %>

<%= render 'layouts/footer' %>
<!-- </div> -->
</body>
</html>